<div class="nav-links" id="navLinks">
  {% for item in items %}

    {% if item.title != 'English' and item.title != 'Hindi' %}
      <a href="{{ item.url }}"
         class="{{ item.in_active_trail ? 'active' : '' }}">
         {{ item.title }}
      </a>
    {% endif %}

  {% endfor %}
</div>